#btn1:hover {
    cursor: pointer;
    border-style: solid;
    border-color: black;
}
#btn2:hover {
    cursor: pointer;
    border-style: solid;
    border-color: black;
}
#btn3:hover {
    cursor: pointer;
    border-style: solid;
    border-color: black;
}
#btn4:hover {
    cursor: pointer;
    border-style: solid;
    border-color: black;
}